<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>delegati peredelanoe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DAD1BCD1ED061B9007D6E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAD1BE61ED061B9007D6E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DAD1BF11ED061B9007D6E68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
