<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>IDC NSString homework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DF0A5311EE7115300DD9B43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DF0A54A1EE7115400DD9B43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DF0A5551EE7115400DD9B43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
